body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #0088FF;
}

.main {
    width: 85%;
    text-align: center;
}

hr {
    margin-top: -30px;
    width: 98%;
    margin-left: 0px;
}

h1 {
    text-align: left;
    color: white;
    font-size: 42px;
}

.courseContainer {
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    width: 96%;
}

table {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    border-spacing: 0;
}

.title {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #0B30A9;
}

.title td{
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

.fields {
    background-color: #92BDF6;
    color: white;
}

td {
    width: 100px;
    text-align: center;
    width: fit-content;
    min-width: 50px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.course {
    background-color: white;
}

.course td{
    border-top: 1px solid #0B30A9;
    border-bottom: 1px solid #0B30A9;
    color: #0B30A9;
    padding:10px;
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.leftTable {
    margin-top: 0.5%;
    margin-left: 15%;
    margin-right: 5%;
    float:left;
    width: fit-content;
}

.rightTable {
    margin-top: 0.5%;
    float:left;
    width: fit-content;

}
.remaining {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #0B30A9;
}

.remaining td {
    padding: 10px;
    max-width: 20px;
}

#ttl {
    text-align: right;
}

#ectsRem {
    text-align: left;
}

.confirm {
    margin: 30px;
    background-color: #123fd6;
    color: white;
    border: 1px solid #123fd6;
    border-radius: 10px;
    width: 119px;
    height: 38.5px;
    margin-bottom: 40px;
    transition: 0.5;
}

.confirm:hover{
    transform: scale(1.05);
    background-color: #0B30A9;
}

.availableCourses .course:hover {
    background-color: rgb(11, 168, 11);
}

.availableCourses .course:hover td {
    color: white;
}

.selectedCourses .course:hover {
    background-color: rgb(212, 24, 24);
}

.selectedCourses .course:hover td{
    color: white;
}